
.footer .footer-bottom{
  background: #202020;
  padding: 30px 0;
}

.footer .footer-bottom ul li a {
  line-height: 30px;
  color: #fff;
  position: relative;
  margin-left: 23px;
  display: block;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.author-name{
  color:#fff;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.author-name img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.author-name p{
  margin-top: 10px;
}